.row {
  margin-left: 20px;
  color: #fff;
}

.scroll-container {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px;
}

.row__poster {
  object-fit: contain;
  width: 100%;
  max-height: 150px;
  margin-right: 10px;
  transition: transform 450ms;
  cursor: pointer;

  &:hover {
    transform: scale(1.08);
  }
}

.row_posterLarge {
  max-height: 300px;
  &:hover {
    transform: scale(1.09);
  }
}
